.displays {
    border: 1px solid black
}

#newsContainer {
    display: flex;
    flex-direction: column
}

#messageList {
    border: 1px solid black
}

.eventCard:first-of-type {
    font-size: 2em;
    font-weight: bold;
    background: dodgerblue;

}

.eventCard {
    background: white;
}
