body {
    font-family: 'Acme', sans-serif;
    background: rgb(215, 232, 238)
}

fieldset {
    border-radius: 10px;
    padding: 10px;
    margin: 5px
}

.displays {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px
}

#messageList {
    border: 1px solid black
}

.eventCard:first-of-type {
    font-size: 2em;
    font-weight: bold;
    background: dodgerblue;

}

.eventCard {
    background: white;
}

